<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page by template</title>
</head>
<body>

<H1><Font color="red">This is my homepage</Font>
                        <br><br>
   <center> <ul type="circle">
           <b> <Font color="green">Grocery Items List</Font></b>
            <li><Font color="violet">Sugar 10 kg </Font></li>
            <li><Font color="violet">GroundNuts 3 kg</Font> </li>
            <li><Font color="violet">Sunflower Oil 4 kg </Font></li>
            <li><Font color="violet">Wheel Soaps 5</Font> </li>
            </ul>
   </center>
</H1>
</body>
</html>